.unity-progress-bar {
    width: 200px;
    opacity: 0.5;
    color: rgba(250, 0, 0, 255);
    -unity-background-image-tint-color: rgba(255, 0, 0, 255);
    background-color: rgba(255, 6, 6, 255);
    -unity-text-outline-color: rgba(253, 1, 1, 255);
    -unity-text-align: upper-center;
}

.HealthBar {
    background-color: rgba(224, 18, 18, 255);
    -unity-background-image-tint-color: rgba(245, 6, 6, 255);
    color: rgba(245, 245, 245, 255);
    -unity-text-outline-color: rgba(255, 0, 0, 255);
    -unity-text-align: upper-center;
    -unity-font-style: bold;
}

.StaminaBar {
    background-color: rgba(243, 236, 10, 255);
}

.MagicBar {
    background-color: rgba(0, 56, 255, 255);
}

.dead-button {
    font-size: 30px;
    -unity-font-style: bold;
}

.game-over {
}
